$lightBackground:rgb(227, 231, 231);
$lightStartMenu:rgb(255, 255, 255);
$lightCell:rgb(23, 99, 99);

html {
    font-size: 10px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
    background-color: $lightBackground;
    box-sizing: border-box;

}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $lightBackground;
}
.startPageBox {
    border: 1px solid rgb(0, 0, 0);
    width: 50%;
    height: 50%;
    background-color: $lightStartMenu;
}
.formStart{
    font-size: 2rem;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.gameTitle {
    font-size: 3rem;

}
.btnStart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    font-size: 2rem;
    color: cornsilk;
cursor: pointer;
background-color: rgb(63, 70, 70);
transition: 0.3s;
margin-top: 0.5rem;
}
.btnStart:hover {
background-color: rgb(0, 107, 107);
}
.startBoxMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.btnBoxRight{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.test {
    width: 50px;
    height: 50px;
    background-color: rgb(10, 238, 238);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
cursor: pointer;
}
#root{
    width: 100%;
    height: 100%;
}
.game {
    width: 100%;
    height: 80%;
    /* width: 900px; */
    /* border: 2px solid blue; */
    /* margin: 2rem auto; */
    display: grid;
    justify-self: center;
}
.volumeBox{
    display: flex;
    width: 15rem;
    height: 2rem;
    border: 1px solid blue;
    box-sizing: border-box;
}
.volumeNull {
    width: 2rem;
    height: 2rem;
    border: 1px solid blue;
    box-sizing: border-box;

}
.volumeMinus {
    width: 2rem;
    height: 2rem;
    border: 1px solid blue;
    box-sizing: border-box;

}
.volumePlus {
    width: 2rem;
    height: 2rem;
    border: 1px solid rgb(0, 255, 76);
    box-sizing: border-box;

}

.volumeValueWrapper {
    font-size: 2rem;
    width: 9rem;
    height: 2rem;
    border: 1px solid rgb(0, 255, 76);
    color: black;
    box-sizing: border-box;

}
.volumeValue {
    top: 0;
    left: 0;
    font-size: 1rem;
    width: 50%;
    height: 2rem;
    border: 1px solid rgb(0, 255, 76);
    background-color: rgb(228, 84, 113);
    color: black;
    box-sizing: border-box;

}






.title {
    height: 7rem;
    font-size: 3rem;
    align-self: center;
    justify-self: center;
    color: rgb(0, 0, 0);
}

.field {
    /* border: 1px solid red; */
    width: 300px;
    height: 300px;
    align-self: center;
    justify-self: center;
  
}
.fieldCell {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid rgb(227, 231, 231);
    border-collapse: collapse;
    float: left;
    box-sizing: border-box;
background-color: $lightCell;
border-radius: 1rem;
color: rgb(255, 255, 255);

}
.none {
background-color: rgb(227, 231, 231);
color:  rgb(227, 231, 231);
border: none;
pointer-events: none;
}
.lettersGameField {
    align-self: center;
    justify-self: center;
}

.lettersGame {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    float: left;
    box-sizing: border-box;
    background-color: rgb(1, 138, 138);
    cursor: pointer;
    transition: 0.5s;
}

.lettersGame:hover {
    background-color: rgb(184, 219, 219);
}

.word {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    float: left;
    box-sizing: border-box;
}

.wordField {
    width: 250px;
    height: 50px;
 
    align-self: center;
    justify-self: center;
    background-color: rgba(75, 179, 80, 0.37);
}
.btnFullScreen {
    background-color: rgb(105, 237, 100);
    color: cornsilk;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}
.btnOk {
    background-color: cornflowerblue;
    color: cornsilk;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}
.countCorrect {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 95, 33);
    font-size: 1.8rem;
    color: cornsilk;
    width: 5rem;
    height: 5rem;
}
.countIncorrect {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    font-size: 1.8rem;
    color: cornsilk;
    width: 5rem;
    height: 5rem;
}
.btnBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}
.btnNext {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 237, 111);
    font-size: 1.8rem;
    color: cornsilk;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.btnAutoFinish {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 237, 100);
    font-size: 1.8rem;
    color: rgb(8, 8, 8);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}
.winnerBox {
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0);
    width: 50%;
    height: 50%;
    background-color: $lightStartMenu;    
}

.incorrectUnswer {
    border: 2px solid red;
animation: 0.1s tremor ease-out;
}

.winnerGame {
    border: 2px solid rgb(0, 255, 149);
animation: 2s main-rotate ease-out;
}

@keyframes tremor {
    0% {
        left:-0.5px;
        transform: translateX(-4%);
    }
    25%{
        left:0.5px;
        transform: translateX(4%);
    }
    75%{
        left:-0.5px;
        transform: translateX(-4%);
    }

    100% {
        left:0.5px;
        transform: translateX(4%);  
    }
}

@keyframes main-rotate {
    0% {
    transform: skewY(0);
    }
    100% {
    transform: skewY(30deg);
    }
}